@media screen and (max-width: 1024px) {
	.header_content {
	    margin-top: 60px;
	}
	.services_content h3 {
	    font-size: 16px;
	}
	.process_content h2 {
	    font-size: 22px;
	}
	.mail_content_title h2 {
	    font-size: 36px;
	}
	.mail_content_body p {
	    font-size: 16px;
	}
	.info_form_title h2 {
	    font-size: 25px;
	    line-height: 24px;
	}
	.info_form_body label {
	    font-size: 13px;
	}
}
@media screen and (max-width: 991px) {
	.customize_popup{
	    width: 80%;
	    margin: 10px 0px 0px 40px;
	}
	.modal_form input {
	    margin-bottom: 20px;
	}
	.modal_form button {
	    width: 200px;
	}
	.service_content i {
	    margin-right: 5px;
	    font-size: 20px;
	    width: 40px;
	    padding: 7px;
	}
	.media-left h6 {
	    font-size: 11px;
	}
	.page2_header_information h1 {
	    font-size: 30px;
	}
	.page2_header_information h2 {
	    font-size: 19px;
	    line-height: 20px;
	}
	.building_finish_title h2 {
	    font-size: 30px;
	}
	.strong_color label {
	    font-size: 14px;
	}
	.main_project_section label {
	    font-size: 14px;
	}
	.insert_project_button button {
	    font-size: 18px;
	}
	.insert_project_button {
	    margin-top: 30px;
	}
	.info_form_body label {
	    font-size: 15px;
	}
	.info_form_title h1 {
	    font-size: 45px;
	    line-height: 40px;
	}
}
@media screen and (max-width: 768px) {}
@media screen and (max-width: 767px) {
	.footer_social_icon{
		margin-bottom: 30px;
	}
	.footer_content h2 {
		border-bottom: 0px;
	}
	.footer_social_icon h2 {
	    border-bottom: 0px; 
	}
	.modal_info{
		padding-left: 30px;
	}
	.customize_popup{
	    margin: 10px 0px 0px 40px;
	}
	.process_content h2 {
	    margin-bottom: 25px;
	}
	.media-left h6 {
	    font-size: 16px;
	}
	.footer_image {
	    margin-bottom: 20px;
	}
	.common_button {
	    margin-bottom: 30px;
	}
	.security_button{
		margin-bottom: 0px;
	}
		
}
@media screen and (max-width: 640px) {
	.mail_content_title h2 {
	    font-size: 32px;
	}
	.main_service {
	    margin: 60px 0px 30px 0px;
	}
	.responsive .slick-next, .slick-prev {	    
	    display: none !important;
	}
	.header_contetn_info {
	    width: 100%;
	    padding: 110px 0px;
	}
	.header_content h1 {
	    font-size: 23px;
	    line-height: 33px;
	}
	.customize_popup {
	    margin: 10px 0px 0px 60px;
	}
	.building_finish_title h2 {
	    font-size: 25px;
	}
	.all_building {
	    margin: 30px 0px;
	}
	.main_project_section {
	    margin: 30px 0;
	}
	.info_form_title h1 {
	    font-size: 35px;
	    line-height: 30px;
	}
	.info_form_title h2 {
	    font-size: 22px;
	    line-height: 21px;
	    font-weight: 500;
	}
}
@media screen and (max-width: 480px) {
	.header_contetn_info {
	    padding: 70px 0px;
	}
	.header_content input {
	    margin-bottom: 20px;
	}
	.header_content button {
	    width: 300px;
	}
	.mail_content {
	    margin: 46px 0px;
	}
	.main_testimonial {
	    margin: 40px 0 20px 0px;
	}
	.modal_form {
	    padding-right: 15px;
	}
	.modal_form input {
	    width: 100% !important;
	}
	.modal_form button {
	    width: 100%;
	}
	.modal_title {
	    margin-top: 100px;
	}
	.page2_header_information h1 {
	    font-size: 25px;
	}
	.page2_header_information h2 {
	    font-size: 15px;
	}
	.info_form_title h1 {
	    font-size: 26px;
	    line-height: 26px;
	}
	.info_form_body p {
	    text-align: unset;
	    font-size: 22px;
	}
	.info_form_body input {
	    margin-bottom: 5px;
	}
	.info_form_body {
	    padding: 30px 30px;
	}
}
@media screen and (max-width: 360px) {
	.header_content h1 {
	    font-size: 25px;
	}
	.customize_popup {
	    margin: 10px 0px 0px 45px;
	}
	.modal_title h2 {
	    font-size: 17px;
	}
	.modal_title p {
	    font-size: 13px;
	}
	.mail_content_title h2 {
	    font-size: 22px;
	}
	.mail_content_body p {
	    font-size: 14px;
	    line-height: 20px;
	}
	.page2_header_information h1 {
	    font-size: 20px;
	}
	.building_finish_title h2 {
	    font-size: 20px;
	}
	.buildig_finish_content ul li {
	    font-size: 14px;
	}
	.energy_content ul li {
	    font-size: 14px;
	}
	.security_content ul li {
	    font-size: 14px;
	}
	.main_project_section {
	    padding: 30px 20px;
	}
	.info_form_title h2 {
	    font-size: 17px;
	}
	.info_form_body p {
	    font-size: 19px;
	    margin-bottom: 15px;
	}
	.info_form_button button {
	    padding: 10px 13px;
	    font-size: 16px;
	}
}
@media screen and (max-width: 320px) {
	.header_content input {
	    width: 90%;
	}
	.header_content button {
	    width: 90%;
	}
	.mail_content_title h2 {
	    font-size: 26px;
	}
	.customize_popup {
	    margin: 10px 0px 0px 35px;
	}
	.page2_header_information h1 {
	    font-size: 16px;
	    line-height: 20px;
	}
	.page2_header_information h2 {
	    font-size: 13px;
	    line-height: 17px;
	}
	.page2_header_information {
	    margin: 25px 0px;
	}
	.building_finish_title h2 {
	    font-size: 18px;
	}
	.buildig_finish_content ul li {
	    font-size: 13px;
	}
	.energy_content ul li {
	    font-size: 13px;
	}
	.security_content ul li {
	    font-size: 13px;
	}
	.info_form_title h1 {
	    font-size: 23px;
	}
	.info_form_title h2 {
	    font-size: 14px;
	}
	.info_form_button button {
	    padding: 10px 11px;
	    font-size: 14px;
	}
}