/*header section style*/
.header_section{
	background: url(../images/header_bg.jpg);
	background-size: 100% 100%;
	width: 100%;
}
.header_content{
	margin-top: 50px;
}
.header_contetn_info{
    width: 675px;
    padding: 200px 0px;
    /*background: rgba(0,0,0,0.4);
    margin: 0 auto;*/
}
.header_content h1{
    color: #fff;
    font-size: 29px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    text-shadow: 0 2px 2px 0 rgba(0,0,0,.06),0 10px 20px 0 rgba(0,10,18,.1);
    margin-bottom: 30px;
    text-transform: uppercase;
}
.header_content form{}
.header_content input{
	height: 50px;
    width: 300px;
    margin: 0;
    border-radius: 0 4px 4px 0;
    background: transparent;
    color: #fff;
    border: 2px solid #FFBB02;
    padding-left: 10px;
}
.header_content button{	
    margin-right: 0;
    height: 50px;
    width: 250px;
    padding: 5px 15px;
    border-radius: 4px;
    background-color: #FFBB02;
    font-size: 22px;
    line-height: 22px;
    border: 2px solid #FFBB02;
    color: #fff;
}

/*header section style end*/

/*process section style*/

.process_section{
    background: #FFBB02;
}
.process_content{
    margin: 50px 0px;
}
.process_content h2{
    font-weight: 400;
    color: #fff;
    font-size: 23px;
    text-transform: uppercase;
    margin: 0;
}
.process_content a{
    background: none;
    border: 2px solid #fff;
    color: #fff !important;
    padding: 10px 20px;
    border-radius: 5px;
}

/*process section style end*/

/* Mail section style*/

.mail_content_section{	
	background: url(../images/construction.jpg);
    background-size: 100% 100%;
    width: 100%;
}
.mail_rgba{
	background: rgba(0,0,0,0.5);
}
.mail_content{
	margin: 100px 0px;
}
.mail_content_title{
}
.mail_content_title h2{
    color: #fff;
    font-size: 44px;
    margin: 3px 0px;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 15px;
}
.mail_content_body{}
.mail_content_body p{
   font-size: 18px;
    padding: 0px 0px 30px;
    color: #fff;
    font-weight: 600;
    line-height: 30px;
}
.mail_content_body a{
    font-size: 18px;
    font-weight: 500;
    padding: 10px 25px;
    text-transform: uppercase;
    background: #FFBB02;
    border-radius: 5px;
    color: #fff;
}
a:hover{
    text-decoration: none;
}


/* Mail section style end*/
/* Services section style */
.services_section{
	background: #fff;
}
.main_service{
	margin: 80px 0px 60px 0px;
}
.service_title{
	/*text-align: center;*/
	margin-bottom: 30px;
}
.service_title h2{
    text-transform: uppercase;
    margin: 0px;
    font-size: 35px;
    font-weight: 800;
    font-style: normal;

}
.service_title span{
    color: #FFBB02;    
}
.service_all_content{}
.service_content{
    margin-bottom: 20px;
    display: inline-block;
}
.service_content i{
    color: #ffbb02;
    float: left;
    margin-right: 15px;
    font-size: 25px;
    width: 50px;
    border: 2px solid #ffbb02;
    padding: 10px;
    text-align: center;
}
.media-left{
    display: table-cell;
    vertical-align: top;
}
.media-left h6{
    text-transform: uppercase;
    color: #727272;
    margin-bottom: 5px;
    font-size: 16px;
}
.service_content_image{}
.service_content_image img{
    width: 100%;
}

/* Services section style End */
/* Testimonial section style */
.testimonial_section{
	background: #f7f7f7;
}
.main_testimonial{
	margin: 60px 0;
}
.testimonial_title{
	text-align: center;
	margin-bottom: 30px;
}
.testimonial_title h2{}
.testimonial_title p{}
.testimonial_content {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 50px;
    transition: .5s;
    color: #333;
    background: #fff;
    border-radius: 10px;
    padding: 20px;
}
.testimonial_image img{
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: 70px;
    margin-bottom: -10px;
    border: 3px solid #fff;
    height: 100px;
    width: 100px;
}
.testimonial_details h4, h5{
    text-transform: capitalize;   
}
.responsive .slick-prev {
    left: -80px;
    z-index: 1;
}
.responsive .slick-prev::before {
    content: "\f104";
    font-family: 'FontAwesome';
    color: #FFBB02 !important;
    font-size: 36px;
    cursor: pointer;
    padding: 3px 15px;
    font-weight: bold;
}
.responsive .slick-next {
    right: -80px;
}
.responsive .slick-next::before {
    content: "\f105";
    font-family: 'FontAwesome';
    color: #FFBB02 !important;
    font-size: 36px;
    cursor: pointer;
    padding: 3px 15px;
    font-weight: bold;
}
.responsive .slick-prev, .slick-next {
    width: 45px;
    height: 45px;
}
.testimonial_details span{
    color: #FFBB02;
}
/* Testimonial section style End */

/* Client Satisfaction section style*/

.satisfied_client{
	background: url(../images/partner-bg.jpg);
	background-size: cover;
	background-position: center;
	position: relative;
}
.all_client{
	margin: 60px 0;
}
.clinett{
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
    height: 120px;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
    -webkit-transition: .3s;
    transition: .3s;
}
.client_images{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    opacity: 1;
    -ms-filter: 
}
.client_images img{
	max-width: 100%;
	vertical-align: middle;
    border-style: none;
}
.satisfied_rgba{
	background: rgba(0,0,0,0.8);
}
/* Client Satisfaction section style end*/
/* Footer section style */
.footer_section{
	background: #fff;
}
.main_footer{
	margin: 30px 0 0px;
}
.footer_content{
}
.footer_content p{
	margin: 10px 0px;
    font-size: 20px;
}
.footer_content h2{
	border-bottom: 1px solid #000;
    font-size: 30px;
    margin-top: 0px;
}
.footer_content i{
	font-size: 18px;
    width: 23px;
    margin-right: 5px;
    color: #FFBB02;
}
.footer_content ul{
	margin: 0;
	padding: 0;
}
.footer_content ul li{
	list-style-type: none;
    line-height: 32px;
}
.footer_social_icon h2{
	border-bottom: 1px solid #000;
    font-size: 30px;
    margin-top: 0px;
}
.footer_image{

}
.footer_image img{
    width: 73%;
}

.footer_bottom{}
.footer_bottom_text{
	text-align: center;
	padding: 10px 0px;
}
.footer_bottom_text p{
	margin: 0px;
}
/* Footer section style End */
/* Modal section style*/

.customize_popup{
    width: 900px;
}
.pop_up_modal{
    background: url(../images/modal_bg.jpg);
    background-position: center;
    background-size: 100% 100%;
    height: 100vh;
    width: 100%;
}
.modal_title{
    margin-top: 175px;
    color: #fff;
    padding: 0px 10px 0px 0px;
}
.modal_title h2{
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 15px;
}
.modal_title p{
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 15px;
}
.modal_form{}
.modal_form input{
    height: 40px;
    width: 200px;
    margin: 0 0 0 0px;
    border-radius: 0 4px 4px 0;
    background: transparent;
    color: #fff;
    border: 2px solid #FFBB02;
    padding-left: 10px;
}
.modal_form button{
    margin-right: 0;
    height: 40px;
    width: 180px;
    padding: 5px 15px;
    border-radius: 4px;
    background-color: #FFBB02;
    font-size: 20px;
    line-height: 22px;
    border: 2px solid #FFBB02;
    color: #fff;
}
.modal-header {
    border-bottom: 0px;
    padding: 10px 20px 0px 0px;
}

/* Modal section style end*/
/*================================page 2 style==========================*/

/*page2 header style*/

.page2_header{
    background: #FFBB02;
}
.page2_header_information{
    margin: 40px 0px;
    text-align: center;
}
.page2_header_information h1{
    margin: 0px 0 15px 0;
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    line-height: 23px;
    text-shadow: 0 2px 2px 0 rgba(0,0,0,.06),0 10px 20px 0 rgba(0,10,18,.1);
}
.page2_header_information p{
    margin: 0px;
    color: #000;
    font-size: 16px;
    line-height: 25px;
}

/*page2 header style end*/

/* Building finish section style*/

.building_finish_section{
    background: #ECF3FD;
}
.all_building{
    margin: 60px 0px;
}
.building_finish_title{
    margin-bottom: 40px;
}
.building_finish_title h2{
    margin: 0px;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 800;
    font-style: normal;
}
.building_finish_title h2 span{
    color: #FFBB02;
}
.buildig_finish_content{}
.buildig_finish_content ul{
    margin: 0px;
    padding: 0px;

}
.buildig_finish_content ul li{
    list-style-type: none;
    color: #727272;
    margin-bottom: 5px;
    font-size: 16px;
}
.buildig_finish_content ul li i{
    color: #ffbb02;
    margin-right: 7px;
    font-size: 20px;
}
.building_finish_images{}
.building_finish_images img{
    width: 100%;
}

/* Building finish section style end*/

/*security section style*/

.security_section{
    background: #fff;
}
.energy_content{}
.energy_content ul{
    margin: 0;
    padding: 0;
}
.energy_content ul li{
    list-style-type: none;
    color: #fff;
    margin-bottom: 5px;
    font-size: 16px;
}
.energy_content li i{
    color: #000;
    margin-right: 7px;
    font-size: 20px;
}
/*security section style end*/

/*energy section style*/

.energy_section{
    background: #94ABD5;
}
.security_content{}
.security_content ul{
    margin: 0;
    padding: 0;
}
.security_content ul li{
    list-style-type: none;
    color: #727272;
    margin-bottom: 5px;
    font-size: 16px;
}
.security_content ul li i{
    color: #ffbb02;
    margin-right: 7px;
    font-size: 20px;
}
.common_button{
    margin-top: 30px;
}
.common_button a{
    background: #ffbb02;
    padding: 10px 25px;
    color: #fff;
    border-radius: 5px;
}

/*energy section style end*/

/*insert porject section*/

.insert_project_section{
    background: #D4EAF1;
}
.main_project_section{
    margin: 60px 0;
    background: #EBF8FB;
    padding: 60px 30px;
    border-radius: 5px;
}

.main_project_section label{
    color:#727272;
    font-size: 16px;
}
.main_project_section input{
    background: #FFFFFF;
}
.main_project_section textarea{}

.insert_project_button{
    text-align: center;
    margin-top: 50px;
}
.insert_project_button button{    
    padding: 10px 25px;
    border-radius: 4px;
    background-color: #FFBB02;
    font-size: 22px;
    line-height: 22px;
    border: 2px solid #FFBB02;
    color: #fff;
}
.strong_color label{
    font-size: 18px;
}

/*insert porject section end*/

/*================================page 2 style end==========================*/

/*================================page 3 style ==========================*/

.infor_form_header{
    background: #ffbb02;
}
.info_form_title{
    padding: 20px;
}
.info_form_title h1{
    margin: 0px 0px 10px 0px;
    text-align: center;
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    line-height: 36px;
    text-shadow: 0 2px 2px 0 rgba(0,0,0,.06),0 10px 20px 0 rgba(0,10,18,.1);
}
.info_form_title h2{
    margin: 0;
    text-align: center;
    color: #000;
    font-size: 18px;
    line-height: 29px;
    text-shadow: 0 2px 2px 0 rgba(0,0,0,.06),0 10px 20px 0 rgba(0,10,18,.1);
}

.info_form_section{    
    background: #313136;
}

.main_info_form{}

.info_form_body{
    background: #f1f1f1;
    padding: 50px 30px;
    margin: 50px 0px;
    border-radius: 10px;
}
.info_form_body p{
    text-align: center;
    color: #FFBB02;
    font-size: 23px;
    margin-bottom: 30px;
}
.info_form_body label{
    font-size: 17px;
    margin-top: 5px;
}
.info_form_body input{
    margin-bottom: 15px;
    width: 100%;
}
.info_form_body textarea{
    margin-bottom: 15px;
    width: 100%;
}
.info_group_div{
    margin-bottom: 20px;
    display: block;
}
.info_form_button{
    text-align: center;
    margin-top: 30px;
}
.info_form_button button{
    background: #313136;
    color: #f1f1f1;
    padding: 10px 25px;
    font-size: 22px;
    border-radius: 5px;
    border:1px solid #313136;
}
.label_text{
    margin-bottom: 20px;
}
/*================================page 3 style end==========================*/
/*==============================certificate page style===================== */

.certificate_section{
    background: #D4EAF1;
}
.main_certificate{
    margin: 60px 0px;
    background: url(../images/certificate.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.certificate_all_content{
    background: rgba(255,255,255,.5);
}
.certificate_title{
    text-align: center;
    padding-top: 180px;
    margin-bottom: 20px;
}
.certificate_title h1{
    margin: 5px 5px 10px 0px;
}
.certificate_title h3{
    margin-top: 5px;
    margin-bottom: 5px;
}
.certificate_title h2{
    margin-top: 5px;
    margin-bottom: 5px;
}
.certificate_body{
    text-align: center;
    padding: 0px 160px;
}
.certificate_body p{
    font-style: italic;
    line-height: 25px;
}
.certificate_footer{
        padding: 0px 130px 180px 130px;
}
.certificate_footer_image{}
.certificate_footer_image img{
    width: 24%;
}
.certificate_footer_content{
    margin-top: 15px;
}
.certificate_footer_content h2{
    margin-top: 0px;
    font-size: 20px;
}
.certificate_footer_content p{}
.certificate_approve{
    float: right;
}
.certificate_footer_content_address{
    margin-left: 160px;
}
.certificate_footer_content_address p{}
.certificate_footer_content_address ul{
    margin: 0px;
    padding: 0px;
}
.certificate_footer_content_address ul li{
    list-style-type: none;
    font-size: 15px;

}


/*==========================certificate page style end ===================== */



/*----------------========== form page style ========------------------*/

.form_section{
    background: url(../images/dv1961037.jpg);
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}
#quotation{
    margin: 60px 0px;
}
.form_section:before {
    background: url(../images/overlay5.png);
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
}
.main_title{
    background-color:rgba(0,0,0,.3);
    display:inline-block;
    padding:15px 15px 0
}
.strong_text{
    /*text-align: center;*/
}
.strong_text strong{
    font-size: 16px;
    color: #000;
}
.message_text label{
    font-size: 16px;
    color: #000;
}
#sub_header h1,footer h3{
    font-weight:700;
    color:#fff
}

#sub_header{
    height:150px;
    background:url(../images/banner1.png) center center no-repeat #82ca9c;
    color:#fff;
    background-size:cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    padding-top:76px;
    text-shadow:1px 1px 1px rgba(0,0,0,.2)
}
#sub_header h1{
    margin:0;
    font-size:24px
}
#sub_header .main_title p{
    margin-bottom:15px;
    font-size:11px
}

img.img-responsive.border{
    border-bottom:3px solid #9bd4af
}
.form_title{
    position:relative;
    padding-left:55px;
    margin-bottom:10px;
    padding-top: 8px;
}
.form_title h3 strong{
    width:40px;
    height:40px;
    display:inline-block;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    font-size:18px;
    line-height:40px;
    position:absolute;
    left:0;
    top:0;
    padding-left:14px;
    background: #FFBB02;
    color: #fff;
}
.form_title h3{
    margin:0;
    padding:0;
    text-transform: uppercase;
}
.step{
    border-left:1px solid #ddd;
    padding:20px 0 20px 31px;
    margin:0 0 10px 20px
}
.form_title p{
    color:#999;
    margin:0;
    padding:0;
    font-size:13px;
    line-height:14px
}
.form_strong strong{
    padding-left: 12px !important;
}
.btn_1{
    background: #FFBB02;
    padding: 10px 25px;
    color: #fff;
    border-radius: 5px;
    border: 2px solid #FFBB02;
    font-size: 17px;

}
.form-group.options{
    border-bottom:1px dotted #ddd;
    padding-bottom:30px;
    margin-bottom:15px
}
.form-group.options strong{
    position:relative;
    top:5px
}
label.error{
    font-size:11px;
    position:absolute;
    top:-12px;
    right:0;
    z-index:99;
    height:25px;
    line-height:25px;
    background-color:#e34f4f;
    color:#fff;
    font-weight:400;
    padding:0 6px
}
label.error:after{
    content:'';
    position:absolute;
    border-style:solid;
    border-width:0 6px 6px 0;
    border-color:transparent #e34f4f;
    display:block;
    width:0;
    z-index:1;
    bottom:-6px;
    left:20%
}
.button-back{
    float:left
}
.button-next{
    float:right
}
a.button-back,a.button-next{
    text-decoration:none;
    color:#fff
}
.button-back,.button-next{
    border:none;
    font-family:inherit;
    color:#fff;
    background:#83c99f;
    padding:7px 20px;
    display:inline-block;
    font-size:12px;
    transition:all .3s;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    text-transform:uppercase;
    font-weight:700;
    margin-top:20px
}
.button-back:hover,.button-next:hover{
    background:#333;
    text-decoration:none
}

.form-control.error{
    background:#fdf5f5
}
.stepy-error{
    display:block
}
.stepy-error label.error{
    background:url(../img/alert.png) 5px center no-repeat #e34f4f;
    color:#fff;
    display:block;
    display:inline-block;
    font-size:12px;
    padding:6px 10px 0 25px;
    margin:8px 5px 2px 0;
    -khtml-border-radius:3px;
    -moz-border-radius:3px;
    -opera-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    position:static;
    line-height:normal
}
.stepy-error label.error:after{
    border-width:0
}
input[type=submit].finish{
    border:none;
    font-family:inherit;
    color:#fff;
    background:#333;
    cursor:pointer;
    padding:7px 20px;
    display:inline-block;
    outline:0;
    font-size:12px;
    -webkit-transition:all .3s;
    -moz-transition:all .3s;
    transition:all .3s;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    text-transform:uppercase;
    font-weight:700;
    float:right;
    margin-top:20px
}
input#website{
    display:none
}
.modal-dialog{
    margin-top:80px
}
.box_style_2{
    padding:10px 10px;
    margin-top:60px;
    border:1px dashed #ddd
}
.box_style_2 h4{
        margin: 0px 0 20px;
}
.box_style_2 ul{
    padding-left:0px;
    padding-bottom:10px
}
.box_style_2 ul li{
    margin-bottom:10px;
    list-style-type :none;
}
.box_style_2 ul li i{
    margin-right: 10px;
    color: #FFBB02;
    font-size: 14px;
}
.box_style_2 ul li:last-child{
    margin-bottom:0
}
/*----------------========== form page style end ========------------------*/

/*----------------========== step page style ========------------------*/


.radio_content {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 13px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.radio_content input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkmark {
    position: absolute;
    top: -1px;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #ccc;
    border-radius: 50%;
}
.radio_content:hover input ~ .checkmark {
    background-color: #ccc;
}
.radio_content input:checked ~ .checkmark {
    background-color: #4BB543;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.radio_content input:checked ~ .checkmark:after {
    display: block;
}
.radio_content .checkmark:after {
    top: 6px;
    left: 6px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: white;
}
.radio_mb{
    margin-bottom: -10px;
}
.right_sidebar{}
.sidebar_images{}
.sidebar_images img{
    width: 100%;
    border-radius: 5px;
}
.sidebar_text{}
.sidebar_text h4{
    margin-bottom: 0px;
    margin-top: 10px;
    font-weight: 500;
}
.sidebar_text h5{
    font-style: italic;
    font-size: 13px;
}
.sidebar_text p{
    font-size: 13px;
    margin-bottom: 0px;
}
.sidebar_margin{
    margin-top: 20px
}
.right_sidebar_margir{
    margin-top: 20px;
}
.{}

/*----------------========== step page style end ========------------------*/