/*header section style*/

.header_section{
	background: url(../images/header_bg.jpg);
	background-size: 100% 100%;
	width: 100%;
	/*height: 100vh;*/
}
.header_content{
	margin-top: 50px;
}
.header_contetn_info{
    width: 675px;
    padding: 200px 0px;
    /*background: rgba(0,0,0,0.4);
    margin: 0 auto;*/
}
.header_content h1{
    color: #fff;
    font-size: 29px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    text-shadow: 0 2px 2px 0 rgba(0,0,0,.06),0 10px 20px 0 rgba(0,10,18,.1);
    margin-bottom: 30px;
    text-transform: uppercase;
}
.header_content form{}
.header_content input{
	height: 50px;
    width: 300px;
    margin: 0;
    border-radius: 0 4px 4px 0;
    background: transparent;
    color: #fff;
    border: 2px solid #FFBB02;
    padding-left: 10px;
}
.header_content button{	
    margin-right: 0;
    height: 50px;
    width: 250px;
    padding: 5px 15px;
    border-radius: 4px;
    background-color: #FFBB02;
    font-size: 22px;
    line-height: 22px;
    border: 2px solid #FFBB02;
    color: #fff;
}
.{}
.{}
.{}
.{}

/*header section style end*/

/*process section style*/

.process_section{
    background: #FFBB02;
}
.process_content{
    margin: 50px 0px;
}
.process_content h2{
    font-weight: 400;
    color: #fff;
    font-size: 23px;
    text-transform: uppercase;
    margin: 0;
}
.process_content a{
    background: none;
    border: 2px solid #fff;
    color: #fff !important;
    padding: 10px 20px;
    border-radius: 5px;
}

/*process section style end*/

/* Mail section style*/

.mail_content_section{	
	background: url(../images/construction.jpg);
    background-size: 100% 100%;
    width: 100%;
}
.mail_rgba{
	background: rgba(0,0,0,0.5);
}
.mail_content{
	margin: 100px 0px;
}
.mail_content_title{
}
.mail_content_title h2{
    color: #fff;
    font-size: 44px;
    margin: 3px 0px;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 15px;
}
.mail_content_body{}
.mail_content_body p{
   font-size: 18px;
    padding: 0px 0px 30px;
    color: #fff;
    font-weight: 600;
    line-height: 30px;
}
.mail_content_body a{
    font-size: 18px;
    font-weight: 500;
    padding: 10px 25px;
    text-transform: uppercase;
    background: #FFBB02;
    border-radius: 5px;
    color: #fff;
}
a:hover{
    text-decoration: none;
}
.{}
.{}
.{}

/* Mail section style end*/
/* Services section style */
.services_section{
	background: #fff;
}
.main_service{
	margin: 80px 0px 60px 0px;
}
.service_title{
	/*text-align: center;*/
	margin-bottom: 30px;
}
.service_title h2{
    text-transform: uppercase;
    margin: 0px;
    font-size: 35px;
    font-weight: 800;
    font-style: normal;

}
.service_title span{
    color: #FFBB02;    
}
.service_all_content{}
.service_content{
    margin-bottom: 20px;
    display: inline-block;
}
.service_content i{
    color: #ffbb02;
    float: left;
    margin-right: 15px;
    font-size: 25px;
    width: 50px;
    border: 2px solid #ffbb02;
    padding: 10px;
    text-align: center;
}
.media-left{
    display: table-cell;
    vertical-align: top;
}
.media-left h6{
    text-transform: uppercase;
    color: #727272;
    margin-bottom: 5px;
    font-size: 16px;
}
.service_content_image{}
.service_content_image img{
    width: 100%;
}
.{}
.{}
/* Services section style End */
/* Testimonial section style */
.testimonial_section{
	background: #f7f7f7;
}
.main_testimonial{
	margin: 60px 0;
}
.testimonial_title{
	text-align: center;
	margin-bottom: 30px;
}
.testimonial_title h2{}
.testimonial_title p{}
.testimonial_content {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 50px;
    transition: .5s;
    color: #333;
    background: #fff;
    border-radius: 10px;
    padding: 20px;
}
.testimonial_image img{
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: 70px;
    margin-bottom: -10px;
    border: 3px solid #fff;
    height: 100px;
    width: 100px;
}
.testimonial_details h4, h5{
    text-transform: capitalize;   
}
.responsive .slick-prev {
    left: -80px;
    z-index: 1;
}
.responsive .slick-prev::before {
    content: "\f104";
    font-family: 'FontAwesome';
    color: #FFBB02 !important;
    font-size: 36px;
    cursor: pointer;
    padding: 3px 15px;
    font-weight: bold;
}
.responsive .slick-next {
    right: -80px;
}
.responsive .slick-next::before {
    content: "\f105";
    font-family: 'FontAwesome';
    color: #FFBB02 !important;
    font-size: 36px;
    cursor: pointer;
    padding: 3px 15px;
    font-weight: bold;
}
.responsive .slick-prev, .slick-next {
    width: 45px;
    height: 45px;
}
.testimonial_details span{
    color: #FFBB02;
}
/* Testimonial section style End */
/* Client Satisfaction section style*/

.satisfied_client{
	background: url(../images/partner-bg.jpg);
	background-size: cover;
	background-position: center;
	position: relative;
}
.all_client{
	margin: 60px 0;
}
.clinett{
	border: 1px solid #2f2f2f;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
    height: 120px;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
    -webkit-transition: .3s;
    transition: .3s;
}
.client_images{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    opacity: 1;
    -ms-filter: 
}
.client_images img{
	max-width: 100%;
	vertical-align: middle;
    border-style: none;
}
.satisfied_rgba{
	background: rgba(0,0,0,0.8);
}
.{}
.{}
.{}
.{}

/* Client Satisfaction section style end*/
/* Footer section style */
.footer_section{
	background: #fff;
}
.main_footer{
	margin: 30px 0 0px;
}
.footer_content{
}
.footer_content p{
	margin: 10px 0px;
    font-size: 20px;
}
.footer_content h2{
	border-bottom: 1px solid #000;
    font-size: 30px;
    margin-top: 0px;
}
.footer_content i{
	font-size: 18px;
    width: 23px;
    margin-right: 5px;
    color: #FFBB02;
}
.footer_content ul{
	margin: 0;
	padding: 0;
}
.footer_content ul li{
	list-style-type: none;
    line-height: 32px;
}
.footer_social_icon h2{
	border-bottom: 1px solid #000;
    font-size: 30px;
    margin-top: 0px;
}
.footer_image{

}
.footer_image img{
    width: 73%;
}

.footer_bottom{}
.footer_bottom_text{
	text-align: center;
	padding: 10px 0px;
}
.footer_bottom_text p{
	margin: 0px;
}
.{}
.{}
.{}
.{}
.{}
.{}
/* Footer section style End */
/* Modal section style*/

.customize_popup{
    width: 900px;
}
.pop_up_modal{
    background: url(../images/modal_bg.jpg);
    background-position: center;
    background-size: 100% 100%;
    height: 100vh;
    width: 100%;
}
.modal_title{
    margin-top: 175px;
    color: #fff;
    padding: 0px 10px 0px 0px;
}
.modal_title h2{
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 15px;
}
.modal_title p{
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 15px;
}
.modal_form{}
.modal_form input{
    height: 40px;
    width: 200px;
    margin: 0 0 0 0px;
    border-radius: 0 4px 4px 0;
    background: transparent;
    color: #fff;
    border: 2px solid #FFBB02;
    padding-left: 10px;
}
.modal_form button{
    margin-right: 0;
    height: 40px;
    width: 180px;
    padding: 5px 15px;
    border-radius: 4px;
    background-color: #FFBB02;
    font-size: 20px;
    line-height: 22px;
    border: 2px solid #FFBB02;
    color: #fff;
}
.modal-header {
    border-bottom: 0px;
    padding: 10px 20px 0px 0px;
}

/* Modal section style end*/
/*================================page 2 style==========================*/

/*page2 header style*/

.page2_header{
    background: #FFBB02;
}
.page2_header_information{
    margin: 40px 0px;
    text-align: center;
}
.page2_header_information h1{
    margin: 0px 0 15px 0;
    color: #fff;
    font-size: 36px;
    font-weight: 700;
    line-height: 30px;
    text-shadow: 0 2px 2px 0 rgba(0,0,0,.06),0 10px 20px 0 rgba(0,10,18,.1);
}
.page2_header_information h2{
    margin: 0px;
    color: #000;
    font-size: 23px;
    font-weight: 600;
    line-height: 25px;
}

/*page2 header style end*/

/* Building finish section style*/

.building_finish_section{
    background: #ECF3FD;
}
.all_building{
    margin: 60px 0px;
}
.building_finish_title{
    margin-bottom: 40px;
}
.building_finish_title h2{
    margin: 0px;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 800;
    font-style: normal;
}
.building_finish_title h2 span{
    color: #FFBB02;
}
.buildig_finish_content{}
.buildig_finish_content ul{
    margin: 0px;
    padding: 0px;

}
.buildig_finish_content ul li{
    list-style-type: none;
    color: #727272;
    margin-bottom: 5px;
    font-size: 16px;
}
.buildig_finish_content ul li i{
    color: #ffbb02;
    margin-right: 7px;
    font-size: 20px;
}
.building_finish_images{}
.building_finish_images img{
    width: 100%;
}
.{}

/* Building finish section style end*/

/*security section style*/

.security_section{
    background: #fff;
}
.energy_content{}
.energy_content ul{
    margin: 0;
    padding: 0;
}
.energy_content ul li{
    list-style-type: none;
    color: #fff;
    margin-bottom: 5px;
    font-size: 16px;
}
.energy_content li i{
    color: #000;
    margin-right: 7px;
    font-size: 20px;
}
.{}

/*security section style end*/

/*energy section style*/

.energy_section{
    background: #94ABD5;
}
.security_content{}
.security_content ul{
    margin: 0;
    padding: 0;
}
.security_content ul li{
    list-style-type: none;
    color: #727272;
    margin-bottom: 5px;
    font-size: 16px;
}
.security_content ul li i{
    color: #ffbb02;
    margin-right: 7px;
    font-size: 20px;
}
.common_button{
    margin-top: 30px;
}
.common_button a{
    background: #ffbb02;
    padding: 10px 25px;
    color: #fff;
    border-radius: 5px;
}

/*energy section style end*/

/*insert porject section*/

.insert_project_section{
    background: #D4EAF1;
}
.main_project_section{
    margin: 60px 0;
    background: #EBF8FB;
    padding: 60px 30px;
    border-radius: 5px;
}

.main_project_section label{
    color:#727272;
    font-size: 16px;
}
.main_project_section input{
    background: #FFFFFF;
}
.main_project_section textarea{}
.{}
.insert_project_button{
    text-align: center;
    margin-top: 50px;
}
.insert_project_button button{    
    padding: 10px 25px;
    border-radius: 4px;
    background-color: #FFBB02;
    font-size: 22px;
    line-height: 22px;
    border: 2px solid #FFBB02;
    color: #fff;
}
.strong_color label{
    font-size: 18px;
}

/*insert porject section end*/

/*================================page 2 style end==========================*/

/*================================page 3 style ==========================*/

.infor_form_header{
    background: #ffbb02;
}
.info_form_title{
    padding: 20px 20px;
}
.info_form_title h1{
    margin: 0px 0px 10px 0px;
    text-align: center;
    color: #fff;
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    text-shadow: 0 2px 2px 0 rgba(0,0,0,.06),0 10px 20px 0 rgba(0,10,18,.1);
}
.info_form_title h2{
    margin: 0;
    text-align: center;
    color: #000;
    font-size: 30px;
    font-weight: 700;
    line-height: 50px;
    text-shadow: 0 2px 2px 0 rgba(0,0,0,.06),0 10px 20px 0 rgba(0,10,18,.1);
}

.info_form_section{    
    background: #D4EAF1;
}
.main_info_form{}

.info_form_body{
    background: #EBF8FB;
    padding: 50px 30px;
    margin: 50px 0px;
}
.info_form_body p{
    text-align: center;
    color: #FFBB02;
    font-size: 23px;
    margin-bottom: 30px;
}
.info_form_body label{
    font-size: 17px;
    margin-top: 5px;
}
.info_form_body input{
    margin-bottom: 15px;
    width: 100%;
}
.info_form_body textarea{
    margin-bottom: 15px;
    width: 100%;
}
.info_group_div{
    margin-bottom: 20px;
    display: block;
}
.info_form_button{
    text-align: center;
    margin-top: 30px;
}
.info_form_button button{
    background: #ffbb02;
    color: #fff;
    padding: 10px 25px;
    font-size: 22px;
    border-radius: 5px;
    border:1px solid #ffbb02;
}
.label_text{
    margin-bottom: 20px;
}
/*================================page 3 style end==========================*/
/*==============================certificate page style===================== */

.certificate_section{
    background: #D4EAF1;
}
.main_certificate{
    margin: 60px 0px;
    background: url(../images/certificate.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.certificate_all_content{
    background: rgba(255,255,255,.5);
}
.certificate_title{
    text-align: center;
    padding-top: 180px;
}
.certificate_title h1{}
.certificate_title h3{}
.certificate_title h2{}
.certificate_body{}
.certificate_body p{}
.certificate_footer{}
.certificate_footer_content{}
.certificate_footer_content h2{}
.certificate_footer_content p{}
.{}
.{}

/*==========================certificate page style end ===================== */